/*style*/

*{
    padding: 0;
    margin: 0;
    margin-right: 2.8px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    color: rgba(0,0,0);
    background-color: rgba(224,109,16);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 1rem;
}

.amateur,
.racer,
.professional,
.felipe,
.sacha,
.contact {
    border: groove 3px rgba(44,124,174);
    background-color: rgba(213,215,216);
    padding: 1rem 3rem 1rem 3rem;
}




/*Nav bar*/

header{
    position: fixed;
    transition: baground-colo .5s ease;
    z-index: 100;
    width: 100%;
    height: 80px;
}

nav{
    background-color: rgba(213,215,216);
    height: 80px;
    width: 100%;
}

label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0 15px;
}

/* doesnt work, I have to fix it*/
/*nav ul li::after::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

nav ul li:hover::after{
    transform: scaleX(1);
}*/



nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}



a.active{
    background: #d3d3d3;
    transition: .5s;
}

a.active:hover{
    background: #313131;
    color: white;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*scrolling navbar*/

.scrolling-active header{
    height: 80px;
}

.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active nav{
    height: 80px;
}

.scrolling-active nav a{
    color: #313131;
}


.scrolling-active .active{
    background-color: rgba(224,109,16);
    color: #fff;
}

.scrolling-active .checkbtn{
    color: #313131;
}

.scrolling-active .active:hover{
    background-color: #151515;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
}

/*responsive navbar*/

@media only screen and (max-width: 975px){
    label.logo{
        font-size: 30px;
        padding-left:50px;
    }

    nav ul li a{
        font-size: 16px;
        padding: 7px 10px;        
    }

}

@media only screen and (max-width: 875px){
    .checkbtn{
        display: block;
    }

    nav{
        background-color: #fff;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #d3d3d3;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active{
        background: none;
        color: #fff;
    }

    #check:checked ~ ul{
        left: 0;
    }
}



/*home*/

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 660px;
    background-image: url("../ressources/DSCF1389.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px -8px 0px -8px;
    padding-bottom: 7px;
}

.profil img{
    border-radius: 200px;
}

.profil h1{
    font-size: 50px;
    text-shadow: 0 0 5px #FFF;
    }

    @media only screen and (max-width: 800px) {
        .profil h1{
            font-size: 30px;
            padding: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
    }
/*Plan*/

#plans{
    line-height: 1.7;
    font-size: 1.6rem;
    display: grid;
    grid-template-rows: 1fr 0.02fr 1fr 0.02fr 1fr;
    grid-template-columns: 1fr 0.02fr 1fr;
    padding: 75px 75px 0px 75px;
}

.amateur{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.pamateur{
    grid-column: 3/3;
    grid-row: 1/1;
    background-image: url("../ressources/DSCF1419.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}



.racer{
    grid-column: 3/3;
    grid-row: 3/3;
}

.pracer{
    grid-column: 1/1;
    grid-row: 3/3;
    background-image: url("../ressources/66791659_2501674003225740_7813166941652123648_n.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.professional{
    grid-column: 1 / 1;
    grid-row: 5/5;
}

.ppro{
    grid-column: 3/3;
    grid-row: 5/5;
    background-image: url("../ressources/20180929_134619_005.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 800px){
    #plans {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;
        grid-template-columns: 0.05fr 1fr 0.05fr;
        line-height: 1.3;
        padding: 50px 0px 0px 0px;
    }

    

    #plans .amateur {
        grid-row: 1/1;
        grid-column: 2/2;
    }


    #plans .racer {
        grid-row: 2/2;
        grid-column: 2/2;
    }

    #plans .professional{
        grid-row: 3/3;
        grid-column: 2/2;
    }

    .pamateur,
    .pracer,
    .ppro {
        background-image: none;
    }
}

/*Team*/

#team{
    line-height: 1.7;
    font-size: 1.6rem;
    display: grid;
    grid-template-rows: 1fr 5fr 0.2fr 5fr;
    grid-template-columns: 1fr 1fr;
    padding: 75px 75px 0px 75px;
    margin: 100px -8px 0px -8px;
}


.felipe{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.sacha{
    grid-column: 2 / 2;
    grid-row: 4 / 4;
}

.psacha{
    grid-column: 1/1;
    grid-row: 4/4;
    background-image: url("../ressources/RaR_Nils-Laengner-8433.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 800px){
    #team {
        display: grid;
        grid-template-rows: 0.2fr 1fr 1fr;
        row-gap: 20px;
        grid-template-columns: 0.05fr 1fr 0.05fr;
        line-height: 1.3;
        padding: 50px 0px 0px 0px;
    }

    #team h1 {
        grid-row: 1/1;
        grid-column: 2/2;
    }

    .felipe {
        grid-row: 2/2;
        grid-column: 2/2;
    }

    .sacha{
        grid-row:3/3;
        grid-column: 2/2;
    }

    .pfelipe,
    .psacha {
        background-image: none;
    }
}

/* Contact */
#contact{
    /*padding-top: 90px;
    padding-left: 75px;
    padding-right: 75px;*/
    line-height: 1.7;
    font-size: 1.6rem;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    padding: 75px 75px 0px 75px;
    margin: 100px -8px 0px -8px;
}

p{
    font-size: 1.6rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.email{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.email span{
    font-size: 1.6rem;
}

img{
    height: 3.2rem;
    width: auto;
}

.social{
    padding-top: 0rem;
    padding-left: 1.5rem;
}

.social img{
    margin-right: 1rem;
}

.contact {
    grid-column: 1/1;
    grid-row: 2/2;
}

.imagectt{
    grid-column: 2/2;
    grid-row: 2/2;
}

@media only screen and (max-width: 800px){
    #contact {
        display: grid;
        grid-template-rows: 0.2fr 1fr;
        row-gap: 20px;
        grid-template-columns: 0.05fr 1fr 0.05fr;
        line-height: 1.3;
        padding: 50px 0px 0px 0px;
    }

    #contact h1 {
        grid-row: 1/1;
        grid-column: 2/2;
    }

    .contact {
        grid-row: 2/2;
        grid-column: 2/2;
    }

    
}


/*Footer*/

footer p{
    font-size: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
